.primary-nav{
	//font-size: 
	font-weight: bold;
	img{
		width: 300px;
		float: left;
	}
	li > a{
		text-decoration: underline;
		&.active{
			text-decoration: none;
			color: @headings-color;
		}
	}
}
.nav > li.home-link > a{
	padding: 4px 0;
	background-color: transparent;
}