h1{
	font-weight: bold;
	font-size: 1.5em;
}
h2{
	background-color: @light-blue;
	color: @med-blue;
	font-weight: bold;
	font-size: 1.3em;
	display: inline-block;
	padding: .4em;
	position: relative;
	margin-top: 0.2em;
	margin-right: 1em;

	&:after{
		content: '';
		width: 0;
		height: 0;
		border-right: 0.8em solid transparent;
		right: -0.8em;
		position: absolute;
		top: 0.2em;
		position: absolute;
		border-top: 0.8em solid @med-blue;
		border-bottom: 0.8em solid @med-blue;
	}
}

section{
	.clearfix();
	margin-top: 1em;
}

.clickable{
	cursor: pointer;
}

.container{
	max-width: 800px;
	padding: 0 10px;
}


/**
 * Bootstrap overrides
 */

.control-label{
	color: @qb-blue;
}
.btn{
	font-weight: bold;
	text-transform: uppercase;
}
//For the playlist shareable URL, make it not a disallowed icon
.form-control[readonly]{
	cursor: auto;
}

@import "base_nav";


/**
 * LIST FORMATS
 */
.item-list{
	padding: 0;
	list-style-type: none;
	margin: 1em 0;
}
.item{
	margin-bottom: 1em;
	.clearfix();
	a{
		text-decoration: none;
		color: @text-color;
		&:hover{
			h3, .details{ 
				color: @brand-primary;
			}
		}
	}
	.details{
		color: @brand-primary;
		font-weight: bold;
	}
	h3{
		font-size: 1em;
		font-weight: bold;
		margin: 0;
	}
	.sub-action{
		font-weight: bold;
		font-size: .9em;
		padding-right: .5em;
	}
	.addTo{
		float: left;
		color: @brand-primary;
		margin-right: 0.7em;
		&:hover{
			text-decoration: underline;
		}
	}

}
.item-icon{
	width: 75px;
	height: 75px;
	background-color: @med-blue;
	display: block;
	border-radius: 10px;
	float: left;
	&:hover{
		text-decoration: none;
	}
	&.clip{
		&:before{
			font-family: 'FontAwesome';
			content: "\f04b";
			color: black;
			font-size: 1em;
			//there might be a better way to do this, but, eh...
			position: absolute;
			top: 37%; 
			left: 44%;

		}
		background: @med-blue;
		background: 
			radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 32%,rgba(255,255,255,0) 34%,rgba(255,255,255,0) 100%),
			url(../img/clip_bg.png),
			@med-blue;
		background-position: center center;
		background-size: 75px;
		position: relative;
		&:hover{
			background: 
			radial-gradient(ellipse at center, @dark-blue 0%,@dark-blue 0%, @dark-blue 32%, transparent 34%,transparent 100%),
			url(../img/clip_bg.png),
			@med-blue;
			background-position: center center;
			background-size: 75px;
			&:before{
				color: white;
			}
		}
	}
	&.playlist{
		&:before{
			font-family: 'FontAwesome';
			content: "\f04b";
			color: black;
			font-size: 1em;
			//there might be a better way to do this, but, eh...
			position: absolute;
			top: 37%; 
			left: 44%;

		}
		background: @med-blue;
		background: 
			radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 32%,rgba(255,255,255,0) 34%,rgba(255,255,255,0) 100%),
			@med-blue;
		background-position: center center;
		background-size: 75px;
		position: relative;
		&:hover{
			background: 
			radial-gradient(ellipse at center, @dark-blue 0%,@dark-blue 0%, @dark-blue 32%, transparent 34%,transparent 100%),
			@med-blue;
			background-position: center center;
			background-size: 75px;
			&:before{
				color: white;
			}
		}
	}
}
.item-info{
	//float: left;
	width: 100%;
	padding-left: 85px;
}

/**
 * PLAYLISTS INDEX PAGE
 * e.g. /playlists
 */
.playlist-index-header{
	.btn{
		float: right;
	}
}

/**
 * CLIP DETAIL
 * e.g. /clips/23094902343op2
 */

.clip-detail-header{
	.item-icon{}
	h1{
		margin-left: 1em;
		margin: 0;
	}
}

/**
 * USER PAGE
 * e.g. /user/2
 */
.user-header{

	img{
		border-radius: 50%;
		border: 2px solid @light-blue;
		float: left;
		max-width: 100px;
		height: auto;
		margin: 0 1em 1em 0;
	}
	h1{
		margin-top: 1.4em;
		//display: inline-block;
	}
	&.is-logged-in-user{
		h1{margin-top: 0.4em}
	}
}

