h1{
	font-weight: bold;
	font-size: 1.5em;
}
h2{
	background-color: @light-blue;
	color: @med-blue;
	font-weight: bold;
	font-size: 1.3em;
	display: inline-block;
	padding: 10px;
	position: relative;

	&:after{
		content: '';
		width: 0;
		height: 0;
		border-right: 0.95em solid transparent;
		right: -0.90em;
		position: absolute;
		top: 0.1em;
		position: absolute;
		border-top: 0.95em solid @med-blue;
		border-bottom: 0.95em solid @med-blue;
	}
}

.clickable{
	cursor: pointer;
}

.container{
	max-width: 800px;
	padding: 0 10px;
}

@import "base_nav";


.item-list{
	padding: 0;
	list-style-type: none;
	margin: 1em 0;
}
.item{
	h3{
		font-size: 1em;
		font-weight: bold;
		margin: 0;
	}
	margin-bottom: 10px;
	.clearfix();
	.sub-action{
		font-weight: bold;
		font-size: .9em;
		padding-right: .5em;
	}
}
.item-icon{
	width: 75px;
	height: 75px;
	background-color: @med-blue;
	display: block;
	border-radius: 10px;
	float: left;
}
.item-info{
	//float: left;
	width: 100%;
	padding-left: 85px;
}