
@font-family-base:     "Futura", sans-serif;
@font-size-base:         16px;

.futuraMedium() {
  font-family:'Futura', sans-serif;
  font-weight: normal;
}
.futuraBold(){
  font-family:'Futura', sans-serif;
  font-weight: bold;
}


@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=f1cf99e6-a362-4941-95cc-a036f440196d");
@font-face{
    font-family:"Futura";
    src:url("../fonts/f0052336-792e-4fcf-8750-fe6d7d5dccba.eot?#iefix");
    src:url("../fonts/f0052336-792e-4fcf-8750-fe6d7d5dccba.eot?#iefix") format("eot"),
    url("../fonts/1b696b29-a6bd-4411-a50f-37fd8a209b36.woff") format("woff"),
    url("../fonts/a3931c31-5998-4dbd-b7d5-d310e4ed3d60.ttf") format("truetype"),
    url("../fonts/6779412d-2ea7-4f1a-acfd-f6a527baaee7.svg#6779412d-2ea7-4f1a-acfd-f6a527baaee7") format("svg");
    font-weight: normal;
}
@font-face{
    font-family:"Futura";
    src:url("../fonts/3b3d00eb-6d89-47ec-83ee-48276a47ad94.eot?#iefix");
    src:url("../fonts/3b3d00eb-6d89-47ec-83ee-48276a47ad94.eot?#iefix") format("eot"),
    url("../fonts/2a65cbfc-5071-4b4d-bfc2-e052bb091ee2.woff") format("woff"),
    url("../fonts/812f781d-aa66-47a1-b6a2-7941effc1527.ttf") format("truetype"),
    url("../fonts/2a371030-ff67-40ac-8307-082c1fccf151.svg#2a371030-ff67-40ac-8307-082c1fccf151") format("svg");
    font-weight: bold;
}


@font-face {
  font-family: 'fa-ab';
  src:url('../fonts/fa-ab.eot?q8ibg7');
  src:url('../fonts/fa-ab.eot?#iefixq8ibg7') format('embedded-opentype'),
    url('../fonts/fa-ab.woff') format('woff'),
    url('../fonts/fa-ab.ttf') format('truetype'),
    url('../fonts/fa-ab.svg?#iefixq8ibg7') format('svg');
  font-weight: normal;
  font-style: normal;
}

.iconfont(){
  font-family: 'fa-ab';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  .iconfont();
}

.icon-search:before {
  content: "\f002";
}

.icon-check:before {
  content: "\f00c";
}

.icon-trash:before {
  content: "\f1f8";
}

.icon-play:before {
  content: "\f04b";
}

.icon-pause:before {
  content: "\f04c";
}

.icon-plus:before {
  content: "\f067";
}

.icon-arrows-v:before {
  content: "\f07d";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-ellipsis-h:before {
  content: "\f141";
}