<section class='playlist-index-header'>
        <h2>All playlists</h2>

         {{#if session.isAuthenticated}}
         <div class="btn-group" role="group" aria-label="">
             {{#link-to 'user' session.user.id class="btn btn-default"}}My playlists{{/link-to}}
             <a class="btn btn-primary" data-toggle="modal" {{action 'openModal' 'modals/create-list'}}>Create new playlist</a>
         </div>

         {{/if}}
</section>

<section>
    <ul class='item-list'>
    {{#each content as |list|}}  {{!-- some places call this 'model', some places call it 'content' --}}
        {{render 'lists/list' list}}
    {{/each}}
    </ul>

    {{page-numbers content=content}}

</section>