{{#modal-dialog title=clip.title close='closeModal'}}
    

    {{#if session.isAuthenticated}}

        <h5>Choose playlist to add this clip to:</h5>
        <div class="list-group">
        {{#each list in secondaryModel}}
            <a {{action 'addClip' list}} href="#" class='list-group-item'>{{list.title}}  
                <span class='badge'>{{list.clipCount}} clips</span>
            </a>


        {{/each}}
        </ul>
        <p><em>Note:</em> Presently there is no feedback to tell you if an item is already in a list or that it has been added to a list.</p>
    {{else}}
        <strong>Please {{#link-to 'login'}}log in{{/link-to}} to add to a list</strong>
    {{/if}}    
{{/modal-dialog}}