             <div id="apm_player_container" class="left rounded box clearfix">

                <div id="apm_player_info">
                </div>

                

                <div id="apm_player_controls" class="volume playtime">

                    <div id="apm_player_toggle">

                        <div id="apm_player_play" class="player-toggle hide-text">
                            Play
                        </div>

                        <div id="apm_player_pause" class="player-toggle hide-text">
                            Pause
                        </div>

                        <div id="apm_player_bar_wrapper">
                            <div id="apm_player_bar_container" class="rounded">

                                <div id="apm_player_bar">

                                    <div id="apm_player_loading" class="rounded4"></div>

                                </div>

                                <div id="apm_player_bar_position_popup"></div>

                            </div>

                            <div id="apm_player_playtime">0:00</div>
                        </div>


                        <div id="apm_player_volume_wrapper">

                            <div id="apm_player_volume_status"></div>

                            <div id="apm_player_volume_slider_wrapper">

                                <div id="apm_player_volume_slider_container" class="rounded">

                                    <div id="apm_volume_bar"></div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>



        </div>