{{! 
this element is in place to keep the height of the page proper
you shouldn't delete it without understanding what it does
}}
<div id="apm_player_container_spacer"></div>

<div id="apm_player_container" class="clearfix">

    <div id="apm_player_bar"></div>

    <div class="apm_player_wrap">

        <div id="apm_player_controls">
            <div id="apm_player_play">{{fa-icon "play"}}</div>
            <div id="apm_player_pause">{{fa-icon "pause"}}</div>
        </div>

        <div id="apm_player_info"></div>
        <div id="apm_player_playtime"></div>
    </div>

</div>

