
<div class="container">
	{{partial "navbar" }}
	{{outlet }}
    <footer><p class='copy'>Minnesota Public Radio &copy; 2015. All rights reserved.  <a href="http://minnesota.publicradio.org/about/site/terms/">Terms and Conditions</a> &middot; <a href="http://minnesota.publicradio.org/about/site/privacy/">Your Privacy Rights</a>
    </p>
    </footer>   
</div>

{{view "apmplayer" }}


{{outlet 'modal'}}