
<div class="container">
	{{partial "navbar" }}
	{{outlet }}
    <footer><p class='copy'>Minnesota Public Radio &copy; 2015. All rights reserved.</p></footer>
</div>

{{view "apmplayer" }}


{{outlet 'modal'}}