<section class='index'>
    <h1>Share expertly curated audio clips with students, parents and fellow teachers.</h1>
</section>

<section class='index'>
    <h2>Featured Playlists</h2>

   {{!--  <ul class='item-list'>
        {{#each trimmedLists as |list|}}
            {{render "lists/list" list}}
        {{/each}}
    </ul> --}}

    <div class='btn-wrap'>
        {{#link-to 'lists'}}<span>Browse all playlists</span> &rarr;{{/link-to}} {{!  class="btn btn-primary"  }}
    </div>
</section>

<section class='index latest-clips'>
    <h2>Latest Clips</h2>

    <ul class='item-list'>
        {{#each trimmedClips as |clip|}}
            {{render 'short-clip' clip}}
        {{/each}}
    </ul>

    <div class='btn-wrap'>
        {{#link-to 'clips' }}<span>Browse all clips</span> &rarr;{{/link-to}} {{! class="btn btn-primary" }}
    </div>
</section>
