<section>
    <h2>Featured Playlists</h2>
    <br />

    <p>Sorry{{#if session.user.first_name}}, {{session.user.first_name}}{{/if}}, we don't have any featured playlists yet. </p>

</section>

<section>
    <h2>Latest Clips</h2>

    {{render 'latest-clips' latestClips}}
</section>
