	<h2>List of lists</h2>

	{{input type="text" id="new-list" placeholder="Create new list"
		value=newTitle action="createList"}}

	  <ul>
	  {{#each list in model}}
	  	<li>{{#link-to 'list' list}}{{list.title}}{{/link-to}}</li>
	  {{/each}}
	  </ul>