

<br /><br />
<form {{action 'authenticate' on='submit'}}>
  <p><label for="identification">Login</label>
    {{input value=identification placeholder='Enter Login'}} Hint:<em> user@mpr.org</em></p>
  <p><label for="password">Password</label>
    {{input value=password placeholder='Enter Password' type='password'}} Hint:<em> topsecret</em></p>
  <p><button type="submit">Login</button></p>
</form>