
<nav class='primary-nav'>
    <ul class="nav nav-pills">
        <li class='home-link'>{{#link-to 'index' class='navbar-brand'}}<img src='/img/audiobackpack.svg' alt='audio backpack' />{{/link-to}}</li>

        <li>{{#link-to 'playlists'}}Playlists{{/link-to}}</li>
        <li>{{#link-to 'clips'}}Clips{{/link-to}}</li>
        {{#if session.isAuthenticated}}     
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            Hello, Person! <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>{{#link-to 'playlists'}}Manage playlists{{/link-to}}</li>
                <li><a {{ action 'invalidateSession' }}>Sign out</a></li>
            </ul>
        </li>
        {{else}}
            <li>{{#link-to 'login'}}Log in{{/link-to}}</li>
            <li><a href="#">Sign up</a></li>
        {{/if}}
    </ul>
</nav>