<h2>All playlists</h2>

<p>Presently, this shows all playlists, created by you, only on your computer.</p>

{{input type="text" id="new-list" placeholder="Create new list"
    value=newTitle action="createList"}}

<ul class='item-list'>
{{#each playlist in model}}
    {{short-playlist playlist=playlist}}
{{/each}}
</ul>