<li class='item'>    
      {{#link-to 'playlist' playlist class='item-icon clickable'}}  {{/link-to}}
      <div class='item-info'>

        <h3>{{title}}</h3>
        <span class='author'>by {{#link-to 'user' user}}{{user.full_name}}{{/link-to}}</span><br />
        {{clipCount}} clips, {{pretty-duration totalDuration}}
    </div>
</li>