<h2>All playlists</h2>

<p>Presently, this shows all playlists, created by you, only on your computer.</p>

<a class="btn btn-primary" data-toggle="modal" {{action 'openModal' 'modals/create-playlist'}}>Create new playlist</a><br />

<ul class='item-list'>
{{#each playlist in model}}
    {{render 'playlist' playlist}}
{{/each}}
</ul>