<section class='playlist-index-header'>
        <h2>All playlists</h2>

         <a class="btn btn-primary" data-toggle="modal" {{action 'openModal' 'modals/create-playlist'}}>Create new playlist</a>
</section>

<section>
    <ul class='item-list'>
    {{#each playlist in model}}
        {{render 'playlist' playlist}}
    {{/each}}
    </ul>

</section>