<li class='item'>
	<a {{action 'play'}} class='item-icon play clickable'>

	</a>

	<div class='item-info'>
		<h2>{{audio.title}}</h2>
		<span class='duration'>{{audio.prettyDuration}}</span><br />

		
		<a href="#" class="sub-action">+ Add to playlist</a>
		{{#link-to 'audio' audio class="sub-action"}} Details &rarr; {{/link-to}}
	</div>
</li>
