<li class='item'>
	<a {{action 'play'}} class='item-icon play clickable'>

	</a>

	<div class='item-info'>
		<h3>{{clip.title}}</h3>
		<span class='duration'>{{pretty-duration clip.duration}}</span><br />

		
		<a href="#" class="sub-action">+ Add to playlist</a>
		{{#link-to 'clip' clip class="sub-action"}} Details &rarr; {{/link-to}}
	</div>
</li>
